.container {
  background-color: #c00025;
  width: 100%;
  max-width: 550px;
  border-radius: 15px;
  border: 2px solid grey;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
}
.logo {
  margin-top: 20px;
  margin-left: 15px;
}
.display {
  margin-top: 15px;
  height: 100px;
  width: 450px;
  border-radius: 50px;
  color: white;
  background-color: #322c2d;
  box-shadow: 1px 1px #322c2d;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 8%;
  font-size: 5rem;
}
.App {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App button {
  /* border:22px solid green; */
  margin: 10px;
  width: 5.8rem;
  height: 6rem;  
  font-size: 2rem;  
  color: white;
  border-radius: 70px;
}
.buttonsContainer {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 30px;
}
.specialsButton {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.specialBtnBack {
  background-color: rgb(9, 9, 214);
  border-bottom: 3px solid black;
}
.buttonsLeft {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  width: 88%;
}
.buttonsRight {
  /* border: 2px solid orange; */
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.operatorsButtonBack {
  background-color: rgb(23, 79, 134);
  border-bottom: 3px solid black;
}
.numbersButton {
  /* border: 2px solid blue; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
.small-button, .large-button{
  background-color: midnightblue;
  border-bottom: 3px solid black;
}

button.large-button {
  /* border:2px solid green; */
  padding: 10px;
  width: 200px;
}